* {
  margin: 0;
  padding: 0;
}

.topLevelContainer {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  gap: 32px;
}

.container {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 1rem;
}

.error {
  padding: 4px;
  color: #e9dcdc;
  border: 2px solid rgb(206, 7, 7);
  background-color: rgb(219, 48, 48);
}